.botones-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-agregar{
    background-color: #f94707;
    border: 1px solid #f94707;
    margin-right: 1rem;
}

.boton-cantidad{
    background-color: #481f4f00;
    color: black;
    border: 2px solid #481f4f;
    border-radius: 5px;
    width: 2rem;
}

.numero-producto{
    margin-right: .2rem;
    margin-left: .2rem;
}