.botones-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-agregar{
    background-color: #f94707;
    border: 1px solid #f94707;
    margin-right: .5rem;
    margin-top: -.5rem;
    margin-bottom: -.5rem;
    font-size: .9rem;
}

.boton-cantidad{
    background-color: #481f4f00;
    color: black;
    border: 2px solid #481f4f;
    border-radius: 5px;
    width: 1.9rem;
    margin-top: -.5rem;
    margin-bottom: -.5rem;
}

.numero-producto{
    margin-right: .2rem;
    margin-left: .2rem;
    margin-top: -.5rem;
    margin-bottom: -.5rem;
}

.swal2-top-end{
    margin-top: 4.5rem;
    width: 19rem !important;
}

.swal2-top-end .swal2-popup{
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    height: 4rem;
}

.swal2-top-end .swal2-popup .swal2-confirm {
    display: flex !important;
   justify-content: center !important;
   align-items: center !important;
   width: 2.5rem;
   color: black;
}