.img-vino{
    width: 90%;
    align-self: center;
    border-radius: 5%;
    padding-top: .5rem;
}

.card-estilo{
    width: 45%;
    display: flex;
    flex-direction: row;
}

.card {
    border-radius: 0;
    width: 48%;
}

.text1 {
    font-weight: 400;
    color: black;
    font-size: 1rem;
    text-transform: uppercase;

}

.text2 {
    font-weight: 500;
    font-size: .8rem;
    text-transform: uppercase;
}

.text3 {
    font-weight: 400;
    font-size: .8rem;
}

.text4 {
    font-size: .8rem;
}

.text5 {
    font-size: .7rem;
}

.boton-ir-carrito{
    color: #ffff;
    background-color: #f94707;
    border: 1px solid #f94707;
    cursor: pointer;
    padding: 0.355rem 0.55rem ;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border-radius:7px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.varietal{
    color: #f94707;
}

@media screen and (min-width: 1024px) {
 .card {
    width: 300px;
 }   
}