.checkout-div {
    margin-top: 5.5rem;
    margin-bottom: 1rem;
}

.checkout-nombre{
    margin-bottom: 0rem;
}

.div-lista {
    margin-bottom: 1rem;
}

.titulo-lista{
    margin-top: 2rem;
}

.checkout-input:focus{
    outline: none;
}

.checkout-input{
    margin-bottom: .5rem;
    border-radius: 7px;
    width: 100%;
    padding: .2rem;
}

.checkout-boton{
    background-color: #f94707;
    color: #fafafa;
    padding: .5rem;
    border-radius: 8px;
    border: none;
}

.ultimo-input{
    margin-bottom: 1rem;
}

.swal2-popup.swal2-modal.swal2-show {
    width: 50rem;
    border-radius: 2rem;
}

.swal2-popup.swal2-modal.swal2-show button{
    width: 10rem;
    border-radius: 1rem;
}

div:where(.swal2-container) .swal2-html-container{
    font-size: 2rem !important;
    color: black !important;
    font-weight: bolder !important;
}

.swal2-html-container p{
    font-size: 1.2rem !important;
    color: #f94707 !important;
}