.navbar{
    background-color: #f94707;
}

.div-uno{
    width: 100% !important;
}

.div-uno div{
    display: flex;
}

.imgBrand{
    height: 3rem;
}

.tres-rayas{
    width: 2.7rem;
    color: #ffff;
    border: .1rem solid #ffffffb6;
    margin-left: .7rem;
}

.navbar-toggler-icon{
    width: 1.2rem;
    color: #ffff;
}


.btn-outline-success{
    --bs-btn-color: #481f4f;
    --bs-btn-border-color: #481f4f;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #481f4f;
    --bs-btn-hover-border-color: #481f4f;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #481f4f;
    --bs-btn-active-border-color: #481f4f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #481f4f;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #481f4f;
    --bs-gradient: none;
}

.texto-navbar{
    text-decoration: none;
    color: black;
}

.navbar-nav .dropdown-menu{
background-color: #f94707;
}

.navbar-fondo {
background-color: #f94707;
}

.p-navBar{
    color: #ffff;
    font-size: 1.3rem;
}

.dropdown-menu {
    --bs-dropdown-border-color: #ffff;
    --bs-dropdown-divider-bg: #ffff
}

.inicio{
    margin-bottom: -.9rem;
}

@media screen and (min-width: 1024px) {
    .navbar {
       padding: 0 10rem;
    }
   }

   @media screen and (min-width: 575px) {
    .dropdown-toggle {
        color: #ffff;
        display: inline;
        padding: 1rem !important;
    }
    .dropdown-toggle:hover{
        color: #481f4f;
        transition: .5s;
    }

    .dropdown-toggle:focus{
        color: #481f4f !important;
        transition: .5s;
    }

    .dropdown-toggle:active{
        color: #481f4f !important;
        transition: .5s;
    }

    .p-navBar:hover{
        color: #481f4f;
        transition: .5s;
    }

    .cartCounter{
        margin-right: 5rem;
    }
   }