.div-buscador {
    background-color: #481f4f;
    padding-top: 0rem;
}

.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-buscador{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs input {
    background-color: white;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 34px;
    width: 250px;
    border-right: none;
    border-top: 2px solid #f94707;
    border-bottom: 2px solid #f94707;
    border-left: 2px solid #f94707;
    margin-top: 0rem;
}

.inputs input:focus {
    outline: none;
}

.fa-magnifying-glass {
    width: 50px;
    right: 3rem;
    padding-top: .49rem;
    border: 2px solid #f94707;
    height: 34px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
    color: #ffff;
    background-color: #f94707;
    cursor: pointer;
    text-align: center;
}

.fa-xmark {
    cursor: pointer;
    background-color: white;
    padding-top: .49rem;
    height: 34px;
    border-bottom: #f94707 2px solid;
    border-top: #f94707 2px solid;
    padding-right: .5rem;
    padding-left: .4rem;
}

.sin-color{
    color: #ffff;
    cursor: default;
}

.resultados {
    display: flex;
    flex-wrap: wrap;
    gap: .3rem;
    justify-content: center;
    margin-top: .5rem;
}

.resultados div {
    background-color: #481f4f;
    text-align: left;
}

.resultados .card-body .card-title{
    color: #ffff;
}

.resultados .card-body{
    color: #ffff;
}

.resultados .card-body i{
    color: #ffff;
}

.resultados .card-body i{
    color: #ffff;
}

.resultados .card-body .boton-cantidad{
    border: 2px solid #ffff;
}

.resultados .card-body .varietal{
    color: #f94707;
}

.resultados .card  {
    border: 1px solid #ffffff89;
}

.fin-resultados{
    padding-top: 2rem;
    color: #ffff;
    text-align: center;
}

.no-hay-prod {
    padding-top: 1rem;
    text-align: center;
}


.titulo-resultados{
    padding-top: 1rem;
    padding-left: 1rem;
    text-align: left;
    color: #ffff;
}

.no-hay-prod p {
    color: #ffff;
}

@media screen and (min-width: 1024px) {
    .titulo-resultados{
        font-size: 1.8rem;
    }
    .no-hay-prod{
        font-size: 1.5rem;
    }
   }