.imagen-promo{
    margin-top: 6rem;
    width: 90%;
}

.carousel-inner {
    text-align: center;
}

.carrusel-fondo{
    background-color: #481f4f;
    padding-bottom: 1.5rem;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-image: none;
}

@media screen and (min-width: 1024px) {
    .imagen-promo {
       width: 1200px;
       height: 500px;
    }   
   }
